  continuous-deployment:
    name: "CD - Déploiement Azure"
    needs: continuous-integration
    runs-on: ubuntu-latest

    steps:
    - name: "Checkout"
      uses: actions/checkout@v4

    - name: "Setup Docker Buildx"
      uses: docker/setup-buildx-action@v3

    - name: "Login to GHCR"
      uses: docker/login-action@v3
      with:
        registry: ghcr.io
        username: ${{ github.actor }}
        password: ${{ secrets.GITHUB_TOKEN }}

    - name: "Build Docker"
      run: |
        docker build -t ghcr.io/${{ github.repository }}:${{ github.sha }} .

    - name: "Push Docker image"
      run: |
        docker push ghcr.io/${{ github.repository }}:${{ github.sha }}

    - name: "Déploiement sur Azure VM via SSH"
      uses: appleboy/ssh-action@v1.0.3
      with:
        host: ${{ secrets.AZURE_HOST }}
        username: ${{ secrets.AZURE_USERNAME }}
        key: ${{ secrets.AZURE_SSH_KEY }}
        script: |
          docker login ghcr.io -u ${{ github.actor }} -p ${{ secrets.GITHUB_TOKEN }}

          docker pull ghcr.io/${{ github.repository }}:${{ github.sha }}

          docker stop flask-app || true
          docker rm flask-app || true

          docker run -d \
            --name flask-app \
            --restart unless-stopped \
            -p 80:5000 \
            ghcr.io/${{ github.repository }}:${{ github.sha }}

          docker ps
